{% extends "base.html.twig" %}

{% set activeLink = "home" %}

{% block body %}
    <div class="container">
        Welcome on the portal my boy
        <br/>
        <a href="{{ path('revoked_list') }}">Click here to get the revoked certificates list</a>
    </div>
{% endblock %}